*~
*.swp
*#
indicator-sensors*.tar.*
*.lo
*.la
*.so
.deps*
.libs*
ABOUT-NLS
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache*
config.*
configure
data/indicator-sensors.desktop
depcomp
gnome-doc-utils.make
indicator-sensors/*.o
indicator-sensors/config.h*
indicator-sensors/indicator-sensors
indicator-sensors/marshallers.[ch]
indicator-sensors/stamp-h1
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
data/indicator-sensors.gschema.valid
data/indicator-sensors.gschema.xml
data/indicator-sensors.gschema.xml.in
m4/*
plugins/gsettings/indicator-sensors.gschema.valid
plugins/gsettings/indicator-sensors.gschema.xml*
plugins/dbus/is-active-sensor-generated*
po/.intltool-merge-cache
po/*.gmo
po/*.sed
po/*.sin
po/*.header
po/ChangeLog
po/Makefile.in.in
po/Makevars*
po/POTFILES
po/Rules-quot
po/stamp-it



