*~
indicator-sensors*.tar.*
*.lo
*.la
*.so
.deps*
.libs*
ABOUT-NLS
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache*
config.*
configure
depcomp
gnome-doc-utils.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
m4/*
plugins/gsettings/indicator-sensors.gschema.valid
plugins/gsettings/indicator-sensors.gschema.xml*
po/*.gmo
po/*.sed
po/*.sin
po/*.header
po/ChangeLog
po/Makefile.in.in
po/Makevars*
po/POTFILES
po/Rules-quot
po/stamp-it
indicator-sensors/*.o
indicator-sensors/config.h*
indicator-sensors/indicator-sensors
indicator-sensors/marshallers.[ch]
indicator-sensors/stamp-h1



