*~
*.lo
*.la
*.so
.deps*
.libs*
ABOUT-NLS
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache*
config.*
configure
depcomp
gnome-doc-utils.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
m4/*
po/*.sed
po/*.sin
po/*.header
po/ChangeLog
po/Makefile.in.in
po/Makevars*
po/POTFILES
po/Rules-quot
po/stamp-it
src/*.o
src/config.h*
src/indicator-sensors
src/marshallers.[ch]
src/stamp-h1



